.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
.image{
  width: 312px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-left: 0px;

}
.box-1{
  width: 420px;
  padding-top: 150px;
  padding-left: 50px;
  font-size: 3rem;
}
.btn-1{
  padding-left: 50px;
  padding-top: 5px;
}
.T-row{
  width: 1275px;
}
.F-row{
  padding-left: 150px;
  width: 1200px;
}
.Te-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:576px){
  .F-row{padding-left: 0px;
    width: 507px;
}
  .T-row{ width: 507px;}
}
